/* Program: style.css
 * Programmer: Leonard Michel
 * Start Date: 06.12.2020
 * Last Change: 06.12.2020
 * End Date: /
 * License: /
 * Version: 0.0.0.0
*/

body
{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
}

/* text area */

textarea
{
	font: 16px Consolas;
	/* font-weight: bold; */
	resize: none;
	background-color: #222222;
	border: 0px;
	margin: 0px;
	padding: 0px;
	color: white;
	outline: none;
}

#texteditor
{
	grid-column: 1;
	grid-row: 1;
	width: 50vw;
	height: 50vh;
	/* This only displayes the text as uppercase. Upon copying it is still in the form the user has input it. */
	/* text-transform: uppercase; */
	/* Set tab size to 4 letters here as an event listener in scripts.js inserts a "\t" when the user presses tab inside the text editor.
	 * That tab is 8 letters long.
	 */
	tab-size: 4;
}

#textoutput
{
	grid-column: 2;
	grid-row: 1;
	width: 50vw;
	height: 50vh;
}