/* Program: style.css
 * Programmer: Leonard Michel
 * Start Date: 06.12.2020
 * Last Change: 06.12.2020
 * End Date: /
 * License: /
 * Version: 0.0.0.0
*/

:root
{
	--border-color: #888888;
	--text-color: #ffffff;
	--background-color: #222222;
}

html
{
	box-sizing: border-box;
}

body
{
	font: 12px sans-serif;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

body *
{
	border: 0;
	margin: 0;
	padding: 0;
}

/* text area */

textarea
{
	font: 16px Consolas;
	line-height: 16px;
	/* font-weight: bold; */
	resize: none;
	background-color: var(--background-color);
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
}

#textoutput
{
	grid-column: 2;
	grid-row: 1;
	width: 50vw;
	height: 50vh;
	border: 0;
	margin: 0;
	padding: 0;
}

#runcode
{
	grid-column: 1;
	grid-row: 2;
	width: 50vw;
	height: 50vh;
	border: 0;
	margin: 0;
	padding: 0;
}

#messagebox
{
	grid-column: 2;
	grid-row: 2;
	width: 50vw;
	height: 50vh;
	border: 0;
	margin: 0;
	padding: 0;
}

.window
{
	width: 50vw;
	height: 50vh;
	border: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.window *
{
	color: var(--text-color);
	background-color: var(--background-color);
	border: 0;
	margin: 0;
	padding: 4px 2px;
}

/* Code Editor */
#codeeditor
{
	display: grid;
	grid-template-columns: 10% 90%;
	height: 100%;
}

#linenumberinsert
{
	grid-column: 1;
}

#texteditor
{
	height: 100%;
	overflow: auto;
	grid-column: 2;
	border: 0;
	margin: 0;
	padding: 0;
	/* This only displays the text as uppercase. Upon copying it is still in the form the user has input it. */
	/* text-transform: uppercase; */
	/* Set tab size to 4 letters here as an event listener in scripts.js inserts a "\t" when the user presses tab inside the text editor.
	 * That tab is 8 letters long.
	 */
	tab-size: 4;
}