/* Program: style.css
 * Programmer: Leonard Michel
 * Start Date: 06.12.2020
 * Last Change: 06.12.2020
 * End Date: /
 * License: /
 * Version: 0.0.0.0
*/

:root
{
	--border-color: #888888;
}

body
{
	font: 12px sans-serif;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
}

/* text area */

textarea
{
	font: 16px Consolas;
	/* font-weight: bold; */
	resize: none;
	background-color: #222222;
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
}

#texteditor
{
	grid-column: 1;
	grid-row: 1;
	width: 50vw;
	height: 50vh;
	/* This only displays the text as uppercase. Upon copying it is still in the form the user has input it. */
	/* text-transform: uppercase; */
	/* Set tab size to 4 letters here as an event listener in scripts.js inserts a "\t" when the user presses tab inside the text editor.
	 * That tab is 8 letters long.
	 */
	tab-size: 4;
}

#textoutput
{
	grid-column: 2;
	grid-row: 1;
	width: 50vw;
	height: 50vh;
}

#runcode
{
	grid-column: 1;
	grid-row: 2;
	width: 50vw;
	height: 50vh;
}

#messagebox
{
	grid-column: 2;
	grid-row: 2;
	width: 50vw;
	height: 50vh;
}



/*
#errorlist
{
	grid-column: 2;
	grid-row: 2;
	table-layout: fixed;
	border-collapse: collapse;
	background-color: #222222;
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
	width: 50vw;
	height: 50vh;
}

#errorlist th tr
{
}

#errorlist thead th
{
	border-bottom: 1px solid #888888;
	line-height: 16px;
	height: 8px;
	text-align: left;
}

#errorlist tbody tr
{
	line-height: 16px;
	height: 8px;
}

#errorlist #title
{
	background-color: #222222;
	border: 0;
	margin: 0;
	padding: 0;
	color: white;
}

#errorlist #type
{
	width: 20%;
	color: #ff8800;
}
#errorlist #line
{
	width: 10%;
}
#errorlist #desc
{
	width: 70%;
}

#errorlist tbody tr:nth-child(even)
{
	background-color: #333333;
}
*/